@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/*-------------------------------LOADING SCREEN-----------------------------------------*/
.loader{
    display: flex;
    width:100%;
    height:100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
    top: 0;
    left: 0;
    z-index: 2;
}
.loading-text {
    font-size: 3rem;
}

.loading-img {
    width: 10%;
    margin-left: 25px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
#inner{display:table-cell;width:100%;height:100%;height:100vh;vertical-align:middle;}

/*-------------------------------------------------------------------------------------*/

body {
    /*background-image:url("https://giudice.web.cern.ch/zeptospace/bg-stars.gif");*/
    background-image:url("https://cdn.discordapp.com/attachments/766335209229778968/1125940667730886687/Test3.png");
    background-blend-mode: darken;
    background-repeat: repeat-y repeat-x;
    background-size: auto;
    animation: fadeIn 1.5s;
    font-family: Roboto Slab;
    color: azure;
    overflow: hidden;
    text-align: center;
}
.title {
    margin: auto;
    margin-bottom: 1%;
    display:flex;
    align-items: center;
    justify-items: center;
}
.logo {
    margin: auto;
    margin-top: 1%;
    margin-left: 5%;
    width: 15%;
}
.menu{
    margin-right: auto;
    margin-top: 1%;
}

.globalWin{
    align-items: center;
    
    display: flex;
}
.kiwiAndCount{
    margin:  auto;
    margin-left: 5%;
    display: grid;
}
.mainbuttons{
    margin: auto;
    margin-left: 5%;
    margin-right: 7%;
    margin-top: 2%;
    display: flex;
}
#makeKiwiButton{
    margin: auto;
    transition: transform 0.5s ease;
    transition: all 0.5s;
    animation: kiwi infinite linear 30s ;
    cursor: pointer;
    border-radius: 100%;
}
#makeKiwiButton:hover{
    scale: 1.2;
    -webkit-box-shadow: 8px 5px 15px -7px rgba(0, 165, 40, 1);
-moz-box-shadow: 8px 5px 15px -7px rgba(0, 165, 40, 1);
box-shadow: 8px 5px 15px -7px rgba(0, 165, 40, 1);
}

@keyframes kiwi{
    0%{transform:rotate(0);}
    50%{ transform: rotate(180deg) scale(1.1);}
    100% {transform: rotate(360deg) scale(1);}
}
.upgrades{
    background: url("https://cdn.discordapp.com/attachments/766335209229778968/1125944988505747497/kwiik_board_borders.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:80% ;
    background-clip: cover;
    padding:  15%;
    margin:auto;
    display: flex;
    font-size: 1.2em;
}
.clickupgrades{
    padding: 1em;
    border: none !important;
    width: 40%;

    border-radius: 10px;
    margin: auto 5px;
    cursor: pointer;
    background-color: beige;
    display: flex;
    font-size: 1em;
}
.buyIcon{
    transform:scale(5);
}
.clickupgrades:hover{
    transform: scale(1.05);
}
.globalcounters {
    display: flex;
}
.counter{
    background-color: rgb(100, 63, 18);
    justify-content: center;
    align-self: center;
    height: 100px;
    margin: 5px;
    border-radius: 5px;
    width: 100px;
}
#rootCounterText, #pressCounterText, #extractorCounterText{
    align-self: center;
}
.shop{
    width: 500px;
    display: flex;

}
.kiwicounter{
    font-size: 1.25em;
    margin-top: 10%;
    display: flex;
}
#kiwiCounterText, #kiwiMakeCountText, #kiwiAutoMakeCountText{
    margin: auto 15px;
    width: 150px;
}

.resetbutton {
    padding: 2em;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 2%;
    background-color: rgb(75, 75, 75);
}
.resetbutton:hover{
    transform: scale(1.05);
}

#Icons {
    width:20%;
    overflow:hidden;
    padding-right: 20px;
    box-shadow: rgb(7, 7, 7);
}