@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/*-------------------------------LOADING SCREEN-----------------------------------------*/
.loader{
    display: flex;
    width:100%;
    height:100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
    top: 0;
    left: 0;
    z-index: 2;
}
.loading-text {
    font-size: 3rem;
}

.loading-img {
    width: 10%;
    margin-left: 25px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
#inner{display:table-cell;width:100%;height:100%;height:100vh;vertical-align:middle;}

/*-------------------------------------------------------------------------------------*/

body {
    background-image:url("https://cdn.discordapp.com/attachments/766335209229778968/1125940667730886687/Test3.png");
    background-blend-mode: darken;
    background-repeat: repeat-y repeat-x;
    background-size: auto;
    animation: fadeIn 1.5s;
    font-family: Roboto Slab;
    color: azure;
    overflow: hidden;
    text-align: center;
}
.globalWin {
    display: flex;
    height: 100vh;
}
.leftArea {
    display: grid;
    position: absolute;
    width: 25%;
    height: 100%;
}
.logodiv {
    position: absolute;
    top: 1vh;
}
.logo {
    width: 80%;
}
.kiwicounter{
    font-size: 1.5em;
    display: grid;
    margin-top: 10%;
    position: absolute;
    top: 50vh;
    left: 130px;
}
#kiwiCounterText {
    font-size: 1.5em;
    font-weight: 600;
}
#kiwiMakeCountText, #kiwiAutoMakeCountText{
    width: 200px;
}
.bigKiwi {
    margin: auto;
    display: flex;
    position: absolute;
    top: 200px;
    left: 100px;
}
#makeKiwiButton{
    width: 100%;
    transition: transform 0.5s ease;
    transition: all 0.5s;
    animation: kiwi infinite linear 30s ;
    cursor: pointer;
    border-radius: 100%;
}
#makeKiwiButton:hover{
    scale: 1.2;
    -webkit-box-shadow: 8px 5px 15px -7px rgba(0, 165, 40, 1);
-moz-box-shadow: 8px 5px 15px -7px rgba(0, 165, 40, 1);
box-shadow: 8px 5px 15px -7px rgba(0, 165, 40, 1);
}
@keyframes kiwi{
    0%{transform:rotate(0);}
    50%{ transform: rotate(180deg) scale(1.1);}
    100% {transform: rotate(360deg) scale(1);}
}
.rightArea {
    display: grid;
    background: url("https://cdn.discordapp.com/attachments/766335209229778968/1125944988505747497/kwiik_board_borders.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% ;
    position: absolute;
    right: 10px;
    height: 100%;
    width: 75%;
}
.shop{
    top: 250px;
    display: flex;
    position: absolute;
    right: 10px;
    left: 80px;
}
.upgrades{
    padding: 1em;
    height: 100px;
    width: 20%;
    border: none !important;
    border-radius: 10px;
    margin: auto 25px;
    cursor: pointer;
    background-color: beige;
    display: flex;
    font-size: 1.5em;
}
.buyIcon{
    transform:scale(5);
}
.clickupgrades:hover{
    transform: scale(1.05);
}
.globalcounters {
    display: flex;
    height: 100%;
}
.counter{
    display: flex;
    background-color: rgb(138, 67, 67);
    border-radius: 5px;
    width: 33%;
    margin: auto 5%;
}
.topBar {
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex;
}
.resetbutton {
    width: 20%;
    margin: auto 3%;
    padding: 1.4em;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 2%;
    background-color: #3D426B;
}
.resetbutton:hover{
    transform: scale(1.05);
}
#Icons {
    width:30%;
    overflow:hidden;
    padding-right: 20px;
}